:root {
  --logo-blue-color: #2196F3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-black-color: #000000;
  --white-color: #FFFFFF;
  --bg-color: #2F303A;
  --footer-mail: rgba(255, 255, 255, 0.6);
  --button-bg-port: #F5F4FA;
  --icon-color: #AFB1B8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--blue {
  color: var(--logo-blue-color);
}

.logo--black {
  color: var(--logo-black-color);
}

.logo--white {
  color: var(--white-color);
}

.logo,
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--blue {
  color: var(--logo-blue-color);
}

.logo--black {
  color: var(--logo-black-color);
}

.site-nav .head__link:not(:last-child) {
  margin-right: 50px;
}

.head__link {
  position: relative;
  padding: 0;
  margin: 0;
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5%;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--logo-blue-color);
}

.mail-link,
.tel-link,
.site-nav .link {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}

.site-nav .link {
  color: var(--title-color);
}

.head__list .head__mail:not(:last-child) {
  margin-right: 50px;
}

.head__list .head__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-mail,
.icon-mobil {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: var(--text-color);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

.icon-mobil {
  height: 16px;
  width: 10px;
}

.link:hover,
.link:focus {
  color: var(--logo-blue-color);
}

.link:hover .icon-mail,
.link:hover .icon-mobil,
.link:focus .icon-mail,
.link:focus .icon-mobil {
  fill: var(--logo-blue-color);
}

.head__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.border-head {
  background-color: var(--white-color);
  border-bottom: 1px solid #ECECEC;
}

.bg-footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-footer {
  color: var(--white-color);
  line-height: 1.71;
}

.mail-footer,
.tel-footer {
  color: var(--footer-mail);
  line-height: 1.71;
}

.mail-footer {
  display: inline-block;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.bg-footer .mail:not(:last-child) {
  margin-bottom: 9px;
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 0 20px 0;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-mail {
  margin-right: auto;
}

.social-footer {
  margin-left: 70px;
  margin-right: 93px;
}

.feedback-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feedback-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12px;
}

.form-call {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.feedback-mail .form-fild {
  width: 358px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
  padding: 0 0 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.btn-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-send {
  height: 24px;
  width: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.form-footer {
  margin-left: auto;
}

.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.list-icon:not(:last-child),
.list-footer:not(:last-child) {
  margin-right: 10px;
}

.action,
.action-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.action {
  margin-left: 32px;
  margin-right: 32px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-modal {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .link.current {
  color: var(--logo-blue-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
}

.service__titel {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__bg {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-people.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-people.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__button {
  display: inline-block;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  background-color: var(--logo-blue-color);
  color: var(--white-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__icon {
  height: 70px;
  width: 70px;
}

.features__icon-border {
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-port);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.list .title,
.features__title {
  color: var(--title-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.list .text,
.features__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
}

.work,
.team {
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.work__title,
.team__title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__list-icon {
  position: relative;
}

.work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
}

.work,
.team {
  padding-bottom: 94px;
}

.work__title,
.team__title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.one-of-team {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__information {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team__text {
  margin-bottom: 16px;
}

.team__text,
.team__name {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__name {
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 32px;
  margin-right: 32px;
}

.list-icon:not(:last-child),
.list-footer:not(:last-child) {
  margin-right: 10px;
}

.link-icon:hover .icon-social,
.link-icon:focus .icon-social {
  fill: #FFFFFF;
}

.link-icon:hover,
.link-footer:hover,
.link-icon:focus,
.link-footer:focus {
  background-color: #2196F3;
}

.icon-social,
.icon-footer {
  height: 20px;
  width: 20px;
  fill: var(--white-color);
}

.icon-social {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

.link-icon,
.link-footer {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.client__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.client__icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  height: 92px;
  width: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--logo-blue-color);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--logo-blue-color);
}

.client__list:not(:last-child) {
  margin-right: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container-modal {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.btn-close {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.icon-close {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  fill: #000000;
  padding: 6px;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: var(--logo-blue-color);
}

.titel-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 0;
  margin: 0 0 12px 0;
}

.form-person,
.form-tel,
.form-mail,
.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.text-form {
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-size: 12px;
  margin-bottom: 4px;
}

.comment-form {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-form {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.input-form:focus,
.comment-form:focus {
  outline: 1px solid #2196F3;
}

.input-form:focus + .icon-form {
  fill: var(--logo-blue-color);
}

.icon-form {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.link-form {
  color: rgb(33, 150, 243);
}

.btn-form {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 40px;
  left: 50%;
  position: fixed;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.collection {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-port {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-port.current,
.button-port:hover,
.button-port:focus {
  color: var(--white-color);
  background-color: var(--logo-blue-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn:first-child .button-port {
  padding: 6px 25px;
}

.list-btn:not(:last-child) {
  padding-right: 8px;
}

.button-port {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  -webkit-transition: color 250ms var(--time-function), background-color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}

.collection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.collection__link {
  -webkit-transition: -webkit-box-shadow 250ms var(--time-function);
  transition: -webkit-box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function);
  transition: box-shadow 250ms var(--time-function), -webkit-box-shadow 250ms var(--time-function);
}

.collection__link:hover,
.collection__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.decoration-link {
  text-decoration: none;
}

.image-description {
  position: relative;
  overflow: hidden;
}

.collection__link:hover .collection__description,
.collection__link:focus .collection__description {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function);
  transition: opacity 250ms var(--time-function), transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* transform: rotate(0deg); */
}

.collection__border {
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  border-top-color: transparent;
}

.collection__img {
  display: block;
}

.collection__description {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 0;
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* transform-origin: bottom left;
  transform: rotate(180deg);
  transition: transform 500ms var(--time-function); */
}

.collection__text-image {
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.collection__title {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.collection__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 24px;
}/*# sourceMappingURL=main.css.map */