.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__list {
    display: flex;
    justify-content: space-between;
}

.features__icon {
    height: 70px;
    width: 70px;
}
.features__icon-border {
    border: none;
    border-radius: 4px;
    background-color: var(--button-bg-port);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    margin-bottom: 30px;

}
.list .title,
.features__title {
    color: var(--title-color);
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 10px;
}
.list .text,
.features__text {
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;

    width: 270px;
}