.logo{
    font-family:$font-raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo--blue {
    color: $blue-color;
}

.logo--black {
    color: $black-logo-color;
}
.logo--white {
    color: $white-color;
}