.head{
    background-color: $white-color;
    border-bottom: 1px solid #ECECEC;

    &__link {
    position: relative;

    padding: 0;
    margin: 0;
    }
    &__list &__mail:not(:last-child) {
    margin-right: 50px;
    }

    &__list &__mail {
    display: flex;
    align-items: center;
    }
    &__list {
    display: flex;
    align-items: center;
    }
    &__logo {
    display: flex;
    }
    &__link:not(:last-child) {
    margin-right: 50px;
    }
    &__container {
    display: flex;
    justify-content: space-between;
    }
    
}
.link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5%;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $blue-color;
}

.mail-link,
.tel-link,
.site-nav .link {
    color: $text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms $time-function;
}

.site-nav .link {
    color: $title-color;
}
.icon-mail,
.icon-mobil {
    height: 12px;
    width: 16px;
    margin-right: 10px;

    fill: $text-color;

    transition: fill 250ms $time-function;
}

.icon-mobil {
    height: 16px;
    width: 10px;
}

.link:hover,
.link:focus {
    color: $blue-color;
}

.link:hover .icon-mail,
.link:hover .icon-mobil,
.link:focus .icon-mail,
.link:focus .icon-mobil {
    fill: $blue-color;
}






